# Ignore all pycache files, directories, and subdirectories
__pycache__/
/__pycache__/
*/**/__pycache__/
*.pyc

# Ignore all .env files
.env

# Ignore all sqlite files
*.sqlite
*.sqlite3

# Ignore all .DS_Store files
.DS_Store



